.link {
    float:left;
  }
  
  .cuisine {
    
    
  }
  
  .address {
    float:right;
  }
  canvas {
    border: 1px dotted red;
  }
  
  .chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
  }